{{- .Scratch.Set "sitevar" $.Site -}}
{{- partial "css/color/parse_color.css" .Scratch -}}
{{- .Scratch.Set "label" "main_bg" -}}
{{- partial "css/color/detect_light_or_dark.css" .Scratch -}}
{{- $scr := .Scratch -}}
{{- with $.Site.Params.widgets.patreon -}}
    {{- $scr.Set "patreon" . -}}
{{- end -}}
{{- with $.Site.Params.sidebar.patreon.username -}}
    {{ $scr.Set "patreon" . }}
{{- end -}}
{{- with ($scr.Get "patreon") -}}
<div class="widget">
	<header>
		<span class="widget-header"><span class="fab fa-patreon fa-xs" aria-hidden></span> Support {{ i18n "ownerPronoun" (len ($scr.Get "sitevar").Data.members) | title }} On</span>
	</header>
	<a href="https://patreon.com/{{ . }}">
		{{- if ($scr.Get "main_bg_is_dark") -}}
			{{- $scr.Set "patreon_banner_url" "images/patreon/patreon_white.svg" -}}
		{{- else -}}
			{{- $scr.Set "patreon_banner_url" "images/patreon/patreon_black.svg" -}}
		{{- end -}}
		{{- with $.Site.Params.widgets.patreon_banner -}}
		  {{- if and (ne (len (findRE "^http(s?)://" .)) 1) -}}
				{{- if not (fileExists (add "static/" .)) -}}
					{{- if not (fileExists (add "content/" .)) -}}
						{{- errorf "Could not find the Patreon banner image file at path \"%s\"" . -}}
					{{- end -}}
				{{- end -}}
			{{- end -}}
			{{- $scr.Set "patreon_banner_url" . -}}
		{{- end -}}
    <img id="patreon-banner" src="{{ $scr.Get "patreon_banner_url" | absURL }}" alt="Patreon Banner" title="Support me on Patreon!" />
  </a>
</div>
{{- end -}}
