<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{- .Title -}}</title>

    {{- $.Scratch.Set "desc" "" -}}
    {{- with $.Site.Params.description -}}{{- $.Scratch.Set "desc" . -}}{{- end -}}
    {{- with .Summary -}}{{- $.Scratch.Set "desc" . -}}{{- end -}}
    {{- with $.Params.description -}}{{- $.Scratch.Set "desc" . -}}{{- end -}}
    {{- if (not (eq ($.Scratch.Get "desc") "")) -}}
    <meta name="description" itemprop="description" content="{{ replace ($.Scratch.Get "desc") "\n" " " }}" id="desc">
    {{- end -}}

    {{ .Hugo.Generator }}

    {{- if .RSSLink -}}<link rel="alternate" type="application/rss+xml" title="{{ .Site.Title }} Feed" href="{{ .RSSLink }}">{{ end }}

    {{- if .Params.tags -}}
      <meta name="keywords" itemprop="keywords" content="{{ delimit .Params.tags "," }}" id="keywords">
    {{- end -}}

    <link rel="canonical" href="{{ .URL | absURL }}">
    {{ partial "css_head.html" . }}
  </head>
  <body itemscope itemtype="http://schema.org/WebPage">
    <div id="site-container">
      <div id="site-header">
        <a href="{{ .Site.BaseURL }}">
          <header class="small-text-{{ if $.Site.Params.thumbnail }}left{{ else }}center{{ end }} medium-text-left row">
            {{ with $.Site.Params.thumbnail -}}
              <img id="site-thumbnail" class="row-item" src="{{ . | absLangURL }}">
            {{ end -}}
            <div class="row-item">
              <span id="site-title" itemprop="name">{{ .Site.Title }}</span>
              {{ with .Site.Params.tagline }}<br/><span id="site-tagline">{{ . }}</span>{{ end }}
            </div>
          </header>
        </a>
        {{ if (.Site.Menus.main) -}}
        <label for="menu-toggle-box"><div id="menu-toggle" class="main-nav no-select"><span><span class="fas fa-bars fa-fw" aria-hidden></span> MENU</span></div></label>
        <input type="checkbox" id="menu-toggle-box" class="hide"/>
        <nav id="main-nav">
          <ul class="menu">
          {{- partial "nested_menu.html" (dict "menu" .Site.Menus.main "page" . "site" .Site) . -}}
          </ul>
        </nav>
        {{ end -}}
      </div>
      <div id="main-container" class="row" role="main" itemprop="mainContentOfPage">
        {{ with $.Site.Params.alert }}
          <div class="alert small-full">
            <p>{{ . | markdownify }}</p>
          </div>
        {{ end }}
        {{ if .Site.Params.leftsidebar }}{{ partial "sidebar/sidebar.html" . }}{{ end }}
        {{ block "main_content" . }}{{ end }}
        {{ if (not .Site.Params.leftsidebar) }}{{ partial "sidebar/sidebar.html" . }}{{ end }}
      </div>
      <footer class="row">
        <div class="small-full medium-third small-text-center medium-text-left medium-left row">
          <div class="row-item small-full">
            <small>
              &copy; {{now.Format "2006"}}
              <span itemprop="publisher" itemscope itemtype="http://schema.org/Organization">
                <span itemprop="name">{{ with $.Site.Copyright }}{{ . }}{{ else }}{{ with $.Site.Author}}{{ . }}{{ else }}{{ with $.Site.Params.Author}}{{ . }}{{ else }}{{ .Site.Title }}{{ end }}{{ end }}{{ end }}.</span>
              </span>
            </small>
          </div>
          {{ if not $.Site.Params.hide_attribution -}}
          <div class="row-item small-full">
            <small>
              {{ i18n "attribution" (dict "Hugo" "<a href=\"https://gohugo.io\">Hugo</a>" "BluestNight" "<a href=\"https://bluestnight.shadow53.com\">BluestNight</a>") | safeHTML }}
            </small>
          </div>
          {{ end }}
        </div>
        <div class="small-full medium-third small-text-center medium-text-center small-right row">
          {{ if and (.Scratch.Get "matomo_enable") (.Scratch.Get "matomo_enable_optout") -}}
          {{- with (.Scratch.Get "matomo_host") -}}
          <div class="small-full small-text-center row">
            <small>
              {{ i18n "matomoFooter" | safeHTML }}
            </small>
          </div>
          {{- end -}}
          {{- end }}
          <div class="small-full small-text-center row">
              {{ $iubenda := and $.Site.Params.iubenda.id (or (not $.Site.Params.iubenda.pro.enable_pro) (not $.Site.Params.iubenda.pro.disable_footer_link)) }}
              {{ if or ($.Site.GetPage "page" "privacy-policy.md") $iubenda }}
              <div class="row-item small-only-full">
                {{ if $iubenda }}
                  {{ partial "iubenda/button.html" . }}
                {{ else }}
                  {{ with $.Site.GetPage "page" "privacy-policy.md" }}
                  <small>
                    <a href="{{- ref . "privacy-policy.md" -}}">{{ i18n "privacyPolicyLabel" | title }}</a>
                  </small>
                  {{ end }}
                {{ end }}
              </div>
              {{ end }}
              {{ if ($.Site.GetPage "page" "terms-of-use.md") }}
              <div class="row-item small-only-full{{ if $iubenda }} iubenda-compat{{ end }}">
                {{ with $.Site.GetPage "page" "terms-of-use.md" -}}
                {{ if not $iubenda }}
                <small>
                {{ end }}
                  <a href="{{- ref . "terms-of-use.md" -}}">{{ i18n "termsOfUseLabel" | title }}</a>
                {{ if not $iubenda }}
                </small>
                {{ end }}
                {{ end }}
              </div>
              {{ end }}
            </div>
        </div>
        <div id="social-icons" class="row small-full medium-third small-text-center medium-text-right">
          {{- partial "social-icons.html" (dict "Scratch" .Scratch "Social" .Site.Params.social "IsMember" false) .Site.Params.social -}}
        </div>
      </footer>
    </div>
    {{ partial "javascript_foot.html" . }}
  </body>
</html>
