/* Widgets */

.widget header {
  text-transform: uppercase;
  margin: 0.5rem 0;
  border-bottom: 3px solid {{ .Get "accent" }};
}

.widget-header {
  display: block;
  font-size: 1.72rem;
  font-weight: bold;
  margin: 1rem 0;
}

.widget-header-small {
  display: block;
  font-size: 1rem;
  font-weight: bold;
}

.widget-header-small.button {
  text-align: center;
}

.widget ul li {
  border-bottom: 1px dotted {{ .Get "body_text" }};
  padding: 0.2rem;
  font-size: 0.9rem;
}

.widget-title {
  font-size: 1.3rem;
}

/* Widgets -- Authorbox/Memberbox */

.memberbox {
  background-color: {{ .Get "main_bg" }};
  color: {{ .Get "body_text" }};
  padding: 1rem 0.7rem;
  border-style: solid hidden;
  border-color: {{ .Get "body_text" }};
  border-width: 1px;
  flex-wrap: nowrap;
}

.memberbox img {
  border: 3px solid {{ .Get "body_text" }};
  display: inline-block;
  width: 90px;
  height: 90px;
  min-width: 90px; /* Fixes issue where width is not respected */
}

.memberbox .social a {
  font-size: 1.5rem;
  color: {{ .Get "body_text" }};
}

.memberbox .social a:hover {
  color: {{ .Get "accent" }}
}

.memberbox .social .fab:not(.fa-square):not(.fa-circle)::before,
.memberbox .social .fab:not(.fa-square):not(.fa-circle)::before,
.memberbox .social .fab:not(.fa-square):not(.fa-circle)::before {
  color: {{ .Get "main_bg" }};
}

.memberbox .social .fab:not(.fa-square):not(.fa-circle):hover::before,
.memberbox .social .fab:not(.fa-square):not(.fa-circle):hover::before,
.memberbox .social .fab:not(.fa-square):not(.fa-circle):hover::before {
  color: {{ .Get "header_text" }};
}


/* Widgets -- Patreon */
  /* Contain the banner within the sidebar */
#patreon-banner {
  width: 100%;
  max-width: 100%;
  display: inline-block;
}

#search-container { position: relative; }

#searchbox {
  width: 100%;
  max-width: 100%;
  display: inline-block;
  background-color: {{ .Get "alt_bg" }};
  color: {{ .Get "alt_body_text" }};
  border: none;
  /* Fixes Safari not applying styles */
  -webkit-appearance: textfield;
}

#search-results {
  width: 100%;
  max-width: 100%;
  position: absolute;
  top: 100%;
  max-height: 300px;
  background-color: {{ .Get "alt_bg" }};
  color: {{ .Get "alt_body_text" }};
  overflow-y: scroll;
  overflow-x: hidden;
}

.search-result {
  width: 100%;
  max-width: 100%;
  padding: 0.3rem;
  overflow-x: hidden;
  text-align: left;
}
