{{- if or (not (isset .Site.Taxonomies "tags")) (eq (len .Site.Taxonomies.tags) 0) -}}
	{{- errorf "The Tag List widget is enabled, but no tags have been created!" -}}
{{- end -}}
<div class="widget">
	<header>
		<span class="widget-header"><span class="fas fa-tags fa-xs" aria-hidden></span> <a href="{{ "tags/" | absLangURL }}">{{ i18n "tagLabel" (len .Site.Taxonomies.tags) | title }}</a></span>
	</header>
	<div class="row" id="sidebar-tags">
		{{- range $key, $val := .Site.Taxonomies.tags.ByCount -}}
		  {{- $.Scratch.Set "link" "tags/" -}}
			{{- $.Scratch.Add "link" $val.Name -}}
			<a class="button row-item" href="{{ $.Scratch.Get "link" | lower | urlize | absLangURL }}" title="{{ $val.Name | humanize | lower }}">
				{{ $val.Name | humanize | lower }}{{ if $.Site.Params.widgets.tags_counter }} ({{ $val.Count }}){{ end }}
			</a>
		{{- end -}}
	</div>
</div>
